# Assignment-1

Q1. In the below elements which of them are values or an expression? eg:-  values can be 
    integer or string and expressions will be mathematical operators.
   
   
. *
. hello
. -87.8
. -
. /
. +
. 6


Answer :

    1) Following are operators >>
         *, +, -, /, 
         
    2) Following are values >> 
         hello, -87.8, 6

Q2. What is the difference between string and variable?

Answer :
      
      1) String : String represent a value in the form of text which is enclosed in the two single quotes or two double quotes.
        Example >> 'Pratik' OR "Pratik"   
    
      2) Variable : Variable is a name given to the memory location where the value is stored in the memory values can be of any type.
        Example >> A = 1, B = 2.2, C = 'pratik'

Q3. Describe three different data types.

Answer :

       1) integer : A positive or a negative whole number without a decimal point. 
           Example >> 20 or -20 
           
       2) float : A positive or negative number with a decimal point.
           Example >> 19.9 or -19.9
           
       3) string : It is the value in the form of text which is enclosed in the single or double quote.
           Example >> 'INEURON' or "INEURON"

In [1]:
a=20
type(a)

int

In [2]:
b= -19.9
type(b)

float

In [4]:
c = "INEURON"
type(c)

str

Q4. What is an expression made up of? What do all expressions do?

Answer :
    
        An expression is a combination of operators, constants and variables. An expression may consist of one or more operands, and zero or more operators to produce a value. There are various types of expression
        
1. Constant Expressions: These are the expressions that have constant values only. Example >> x = 15 + 1.3
        
2. Arithmetic Expressions: An arithmetic expression is a combination of numeric values, operators, and sometimes parenthesis. The result of this type of expression is also a numeric value. The operators used in these expressions are arithmetic operators like addition, subtraction, etc. 
    
    Example >> x = 40, y = 12
               add = x + y
               sub = x - y
               pro = x * y
               div = x / y
               
3. Logical Expressions: These are kinds of expressions that result in either True or False. It basically specifies one or more conditions.
    
    Example >> P = (10 == 9), Q = (7 > 5)
               R = P and Q
               S = P or Q
               T = not P

In [5]:
x = 15 + 1.3
print(x)

16.3

In [8]:
x = 40
y = 12
add = x + y
sub = x - y
pro = x * y
div = x / y
print(add , sub , pro , div)

52 28 480 3.3333333333333335

In [9]:
P = (10 == 9)
Q = (7 > 5)
R = P and Q
S = P or Q
T = not P

print(R , S , T)

False True True

Q5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Answer :

        1) Assignment statement : Here the assignment statement assign the value to the variable in above statement (spam =10) the value 10 is assigned to the variable spam.
         
        2) Expression : The expression evaluate the value to the variable like if (a=b+c) here the value of a depends on value of b and c

Q6. After running the following code, what does the variable bacon contain?
    bacon = 22
    bacon + 1

Answer : 
        
        The value of bacon will be 23 after executing the following code as the bacon is assigned with the value 22 and when we call bacon+1 then it will take the bacon as 22 and then it will add 1 in it and then it will execute and give the output

In [16]:
bacon = 22
bacon+1

23

Q7. What should the values of the following two terms be?
    'spam'+ 'spamspam'
    'spam' * 3
    
Answer : 
     
        The output of both the terms will be same as 'spamspamspam'

In [18]:
'spam'+'spamspam'

'spamspamspam'

In [19]:
'spam'*3

'spamspamspam'

Q8. Why is eggs a valid variable name while 100 is invalid?

Answer :

        Variable name can not starts with numbers. that's why the egg is a valid variable name while 100 is not a valid name for variable.

In [22]:
egg = 12
egg

12

In [23]:
100 = quantity

SyntaxError: cannot assign to literal (Temp/ipykernel_11760/140979359.py, line 1)

Q9. What three functions can be used to get the integer, floating-point number, or string
    version of a value?
    
Answer : 

        1) For integer the function used is int()
        2) For floating-point number the function used is float()
        3) For string the function used is str()

Q10. Why does this expression cause an error? How can you fix it?
     'I have eaten' + 99 + 'burritos'

Answer : 

        This will error out since string concatination with interger values can not be performed.
This can be fixed by converting 99 into string by str(99) as shown below.

In [24]:
'I have eaten' + 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str