# Assignment-2

Q1. What are the two values of the Boolean data type? How do you write them?

Answer :
        
        The boolean value can be of two types only i.e. either True or False. The output indicates the variable is a boolean data type.

In [6]:
a=True
b=False
type(a), type(b)

(bool, bool)

Q2. What are the three different types of Boolean operators?

Answer :'
    
        There are three logical operators that are used to compare values. They evaluate expressions down to Boolean values, returning either True or False . These operators are and , or , and not '

Q3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean
    values for the operator and what it evaluate ).
    
Answer :

        The boolean operator truth tables are

In [19]:
AND = [[0, 0 ,0],[0,1,0],[1, 0, 1],[1, 1, 1]]

print("The AND operator truth table")
print(" A  B AandB")
for i in AND:
    print(i)
    
OR = [[0, 0 ,0],[0,1,1],[1, 0, 1],[1, 1, 1]]

print("The OR operator truth table")
print(" A  B AorB")
for i in OR:
    print(i)
    
NOT = [[0, 1],[1,0]]

print("The NOT operator truth table")
print(" A notA")
for i in NOT:
    print(i)

The AND operator truth table
 A  B AandB
[0, 0, 0]
[0, 1, 0]
[1, 0, 1]
[1, 1, 1]
The OR operator truth table
 A  B AorB
[0, 0, 0]
[0, 1, 1]
[1, 0, 1]
[1, 1, 1]
The NOT operator truth table
 A notA
[0, 1]
[1, 0]

Q4. What are the values of the following expressions?
      (5 > 4) and (3 == 5) 
      not (5 > 4)
      (5 > 4) or (3 == 5)
      not ((5 > 4) or (3 == 5))
      (True and True) and (True == False)
      (not False) or (not True)
      
Answer : 
        
        The values of following expressions are as follows

In [ ]:
(5 > 4) and (3 == 5)

In [13]:
not (5 > 4)

False

In [14]:
(5 > 4) or (3 == 5)

True

In [15]:
not ((5 > 4) or (3 == 5))

False

In [16]:
(True and True) and (True == False)

False

In [17]:
(not False) or (not True)

True

Q5. What are the six comparison operators?

Answer :

        Following are the comparision operators with their symbol which are used in python
        
        1) Less than(<)
        2) Less than or equal to(<=)
        3) Greater than(>)
        4) Greater than or equal to(>=)
        5) Equal(==) 
        6) Not equal(!=)

Q6. How do you tell the difference between the equal to and assignment operators?Describe a
    condition and when you would use one.
    
Answer :

        The “=” is an assignment operator is used to assign the value on the right to the variable on the left, Constant term cannot be placed on left hand side. Example: 1=x; is invalid. While the equal to ‘==’ operator checks whether the two given operands are equal or not. If so, it returns true. Otherwise it returns false.Constant term can be placed in the left hand side. Example: 1==1 is valid and returns 1.
        
        Example >>
                x=10  # Here x and y is assigned a value 10 by using assignment operator
                y=10

                if x==y: # Here the the assigned value of x and y is compared to get a result
                    print("True")
                else:
                    print("False")

7. Identify the three blocks in this code:
    spam = 0   
    if spam == 10:
        print("eggs")  
    if spam > 5:
        print("bacon")
    else:
        print("ham")
        print("spam")
        print("spam")
        
Answer :

        # FIRST BLOCK
            spam = 0  
        
        # SECOND BLOCK
            if spam == 10:
                print("eggs")  
                
        # THIRD BLOCK
            if spam > 5:
                print("bacon")
            else:
                print("ham")
                print("spam")
                print("spam")

Q8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints
    Greetings! if anything else is stored in spam.
    
Answer :

In [2]:
spam = int(input("Enter spam value :"))
if spam == 1 :
    print("Hello")
elif spam == 2:
    print("Howdy")
else:
    print("Greetings!!!")

Enter spam value :2
Howdy

Q9. If your programme is stuck in an endless loop, what keys you’ll press?

Answer :
    
        If the programme is stuck in an endless loop then we have to press Cltr + C to exist from the loop.

Q10. How can you tell the difference between break and continue?

Answer :

        Break statement : It terminates the current working loop and passes the control to the next statement, and if the 
                        break statement resides inside the nested loop, it passes control to the outer loop. It can be used 
                        with both while and for loops. 
                        
        Continue statement : The continue statement is used to skip code within a loop for certain iterations of the loop. 
                             After the code is skipped,the loop continues where it left off

In [8]:
# Example for break statement >>

for i in range(10):   
       if i == 6: 
             break 
       else: 
              print (i)

0
1
2
3
4
5

In [13]:
# Example for continue statement >>

for i in range(10): 
    if i == 2: 
        continue 
    else: 
        print (i)

0
1
3
4
5
6
7
8
9

Q11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

Answer :

        range(10) > We got six integers starting from 0 to 5. If you notice, range() didn’t include 6 in its result because it generates numbers up to the stop number but never includes the stop number in its result.

In [19]:
for i in range(10):
    print (i)
    
"""We got six integers starting from 0 to 5. If you notice, range() didn’t include 6 in its result because it generates numbers  up to the stop number but never includes the stop number in its result."""

0
1
2
3
4
5
6
7
8
9

'We got six integers starting from 0 to 5. If you notice, range() didn’t include 6 in its result because it generates numbers  up to the stop number but never includes the stop number in its result.'

In [23]:
for i in range(0,10):
    print(i)
    
"""Here the 0 indicates the starting number and 10 indicates the stop number For example, range(1, 9). Here, start=1 and stop = 9. It will generate integers starting from the start number to stop -1. i.e., [1, 2, 3, 4, 5, 6, 7, 8]"""

0
1
2
3
4
5
6
7
8
9

'Here the 0 indicates the starting number and 10 indicates the stop number For example, range(1, 9). Here, start=1 and stop = 9. It will generate integers starting from the start number to stop -1. i.e., [1, 2, 3, 4, 5, 6, 7, 8]'

In [28]:
for i in range(0,10,1):
    print(i)
    
"""Here 0 indicates the starting number and 10 indicates the range i.e the stop number while 1 indicates the step i.e the increment step. For example, range(0, 9, 2). Here, start=0 and stop = 9 and step=2. It will generate integers starting from the start number to stop -1 by the step of 2. i.e., [0, 2, 4, 6, 8]"""

0
1
2
3
4
5
6
7
8
9

'Here 0 indicates the starting number and 10 indicates the range i.e the stop number while 1 indicates the step i.e the increment step. For example, range(0, 9, 2). Here, start=0 and stop = 9 and step=2. It will generate integers starting from the start number to stop -1 by the step of 2. i.e., [0, 2, 4, 6, 8]'

Q12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent
     program that prints the numbers 1 to 10 using a while loop.
     
Answer :

In [1]:
# Program to print the numbers 1 to 10 using a for loop
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
# Program to print the numbers 1 to 10 using a while loop
i = 1
while(i<=10):
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

Q13. If you had a function named bacon() inside a module named spam, how would you call it after
     importing spam?